{% load static %} <!-- CARREGA A TAG NO TOPO DO TEMPLATE adicionado dia 14 de setembro-->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!--<link rel="stylesheet" href="assets/css/stules.css">-->
    <!--<link rel="stylesheet" href="assets/css/style.css"> comentado dia 14 de setembro-->
    <link rel="stylesheet" href="{% static 'assets/Site/pedidos.css'%}">
    <!-- caminho relativo de static-->
</head>

<body>



    <div class="toda-pagina">
        {% comment %} <form method="POST" action="{% url 'processar_pedido' %}"><!-- 17 de setembro-->
            {% csrf_token %}
            <input type="hidden" name="pedido" value="pizza">
            <button type="submit">Fazer pedido</button>
        </form> <!-- 17 de setembro--> {% endcomment %}

        <h1>{% block texto %} {% endblock texto %}</h1>
        <!--  Essa linha de cima funcionou-->
        <nav class="menu">
            <ul>
                {% comment %} <li><a href="#home">Home</a></li> {% endcomment %}
                <li><a href="#Hamburguer">Sanduiche</a></li>
                <li><a href="#HotDogs">HotDog</a></li>
                <li><a href="#Pizzas">Pizza</a></li>
                <li><a href="#Milkshakes">Milkshake</a></li>
                <li><a href="#Bebidas">Bebidas</a></li>
            </ul>

        </nav>
        <hr>
        <div class="separacao">
            <div class="problemas">
                    <h2> Problemas dos clientes </h2>
            </div>
            <div class="carrinho">
            <h2>Pedidos Estáticos de Exemplo (Em Aberto)</h2>

            {% for pedido in pedidos_realizados %}
            
                <div class="card mb-4 shadow-sm">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            <div>
                                <strong>{{ pedido.nome }}</strong>
                                
                                {% if pedido.nota %}
                                <small class->({{ pedido.nota }})</small>
                                <p>{{pedido.status}}</p>
                                {% endif %}
                                <form method="post" style="display: inline;">
                                {% csrf_token %}
                                <button type="submit" name="remover_item_por_posicao" value="{{ item.posicao }}">
                                    Remover
                                </button>
                                <button type="submit" name="atualizar_status_finalizando" value="{{ item.id }}">
                                    Finalizando
                                </button>
                                <button type="submit" name="atualizar_status_finalizado" value="{{ item.id }}">
                                    Finalizado
                                </button>
                                <button type="submit" name="atualizar_status_entregue" value="{{ item.id }}">
                                    Entregue
                                </button>
                            </form>
                            </div>
                        
                        </li>
                        
                        </ul>
                </div>
                
            {% endfor %}

            </div>
        </div>
        <section id="Hamburguer" class="full-page Hamburguer">
            <!-- o ID será usado como target-->
            <div id="Hamburguer-content" class="grid full-page-content">
                <h1>Sanduiche</h1>
                <p class="descricao">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet ea libero corrupti,
                    architecto, rerum nam
                    modi
                    et facilis in veniam quisquam consectetur odit quam provident soluta alias omnis? Hic, facere!</p>

                <div class="grid">
                    <div class="col">
                        <div class="col-content">
                            <h3>{{ lista_de_sanduiches.0.getnome}}<br></h3>
                            <p> R$ {{lista_de_sanduiches.0.getpreco}}</p>
                            <div class="imagem-container">
                                <img src="{{ MEDIA_URL }}{{ lista_de_sanduiches.0.getimagem }}"
                                    alt="Descrição da Imagem" class="imagem-quadrada">
                            </div>
                            <form method="post">
                                {% csrf_token %}
                                <button type="submit" name="editar_item" value="{{ lista_de_sanduiches.0.getnome }}">
                                    Editar produto
                                </button>
                            </form>
                        </div>
                    </div>
                    <div class="col">
                        <div class="col-content">
                            <h3>{{ lista_de_sanduiches.1.getnome}}<br></h3>
                            <p> R$ {{lista_de_sanduiches.1.getpreco}}</p>
                            <div class="imagem-container">
                                <img src="{{ MEDIA_URL }}{{ lista_de_sanduiches.1.getimagem }}"
                                    alt="Descrição da Imagem" class="imagem-quadrada">
                            </div>
                            <form method="post">
                                {% csrf_token %}
                                <button type="submit" name="editar_item" value="{{ lista_de_sanduiches.1.getnome }}">
                                    Editar produto
                                </button>
                            </form>
                        </div>
                    </div>
                    <div class="col">
                        <div class="col-content">
                            <h3>{{ lista_de_sanduiches.2.getnome}}<br></h3>
                            <p> R$ {{lista_de_sanduiches.2.getpreco}}</p>
                            <div class="imagem-container">
                                <img src="{{ MEDIA_URL }}{{ lista_de_sanduiches.2.getimagem }}"
                                    alt="Descrição da Imagem" class="imagem-quadrada">
                            </div>
                            <form method="post">
                                {% csrf_token %}
                                <button type="submit" name="editar_item" value="{{ lista_de_sanduiches.2.getnome }}">
                                    Editar produto
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section id="HotDogs" class="full-page Hotdogs">
            <!-- o ID será usado como target-->
            <div id="HotDog-content" class="full-page-content">
                <h1>HotDog</h1>
                <p class="descricao">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet ea libero corrupti,
                    architecto, rerum nam
                    modi
                    et facilis in veniam quisquam consectetur odit quam provident soluta alias omnis? Hic, facere!</p>

                <div class="grid">
                    <div class="col">
                        <div class="col-content">
                            <h3>{{ lista_de_hotdogs.0.getnome}}<br></h3>
                            <p> R$ {{lista_de_hotdogs.0.getpreco}}</p>
                            <div class="imagem-container">
                                <img src="{{ MEDIA_URL }}{{ lista_de_hotdogs.0.getimagem }}" alt="Descrição da Imagem"
                                    class="imagem-quadrada">
                            </div>
                            <form method="post">
                                {% csrf_token %}
                                <button type="submit" name="editar_item" value="{{ lista_de_hotdogs.0.getnome }}">
                                    Editar produto
                                </button>
                            </form>
                        </div>
                    </div>
                    <div class="col">
                        <div class="col-content">
                            <h3>{{ lista_de_hotdogs.1.getnome}}<br></h3>
                            <p> R$ {{lista_de_hotdogs.1.getpreco}}</p>
                            <div class="imagem-container">
                                <img src="{{ MEDIA_URL }}{{ lista_de_hotdogs.1.getimagem }}" alt="Descrição da Imagem"
                                    class="imagem-quadrada">
                            </div>
                            <form method="post">
                                {% csrf_token %}
                                <button type="submit" name="editar_item" value="{{ lista_de_hotdogs.1.getnome }}">
                                    Editar produto
                                </button>
                            </form>
                        </div>
                    </div>
                    <div class="col">
                        <div class="col-content">
                            <h3>{{ lista_de_hotdogs.2.getnome}}<br></h3>
                            <p> R$ {{lista_de_hotdogs.2.getpreco}}</p>
                            <div class="imagem-container">
                                <img src="{{ MEDIA_URL }}{{ lista_de_hotdogs.2.getimagem }}" alt="Descrição da Imagem"
                                    class="imagem-quadrada">
                            </div>
                            <form method="post">
                                {% csrf_token %}
                                <button type="submit" name="editar_item" value="{{ lista_de_hotdogs.2.getnome }}">
                                    Editar produto
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section id="Pizzas" class="full-page Pizzas">
            <!-- o ID será usado como target-->
            <div id="Pizza-content" class="full-page-content grid">
                <h1>Pizzas</h1>
                <p class="descricao">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet ea libero corrupti,
                    architecto, rerum nam
                    modi
                    et facilis in veniam quisquam consectetur odit quam provident soluta alias omnis? Hic, facere!</p>

                <!-- <div class="grid">-->
                <div class="col">
                    <div class="col-content">
                        <h3>{{ lista_de_pizzas.0.getnome}}<br></h3>
                        <p> R$ {{lista_de_pizzas.0.getpreco}}</p>
                        <div class="imagem-container">
                            <img src="{{ MEDIA_URL }}{{ lista_de_pizzas.0.getimagem }}" alt="Descrição da Imagem"
                                class="imagem-quadrada">
                        </div>
                        <form method="post">
                            {% csrf_token %}
                            <button type="submit" name="editar_item" value="{{ lista_de_pizzas.0.getnome }}">
                                Editar produto
                            </button>
                        </form>
                    </div>
                </div>
                <div class="col">
                    <div class="col-content">
                        <h3>{{ lista_de_pizzas.1.getnome}}<br></h3>
                        <p> R$ {{lista_de_pizzas.1.getpreco}}</p>
                        <div class="imagem-container">
                            <img src="{{ MEDIA_URL }}{{ lista_de_pizzas.1.getimagem }}" alt="Descrição da Imagem"
                                class="imagem-quadrada">
                        </div>
                        <form method="post">
                            {% csrf_token %}
                            <button type="submit" name="editar_item" value="{{ lista_de_pizzas.1.getnome }}">
                                Editar produto
                            </button>
                        </form>
                    </div>
                </div>
                <div class="col">
                    <div class="col-content">
                        <h3>{{ lista_de_pizzas.2.getnome}}<br></h3>
                        <p> R$ {{lista_de_pizzas.2.getpreco}}</p>
                        <div class="imagem-container">
                            <img src="{{ MEDIA_URL }}{{ lista_de_pizzas.2.getimagem }}" alt="Descrição da Imagem"
                                class="imagem-quadrada">
                        </div>
                        <form method="post">
                            {% csrf_token %}
                            <button type="submit" name="editar_item" value="{{ lista_de_pizzas.2.getnome }}">
                                Editar produto
                            </button>
                        </form>
                    </div>
                </div>
            </div>
            <!--</div>-->
        </section>
        <section id="Milkshakes" class="full-page Milkshakes">
            <!-- o ID será usado como target-->
            <div id="Milkshake-content" class="full-page-content">
                <h1>Milkshakes</h1>
                <p class="descricao">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet ea libero corrupti,
                    architecto, rerum nam
                    modi
                    et facilis in veniam quisquam consectetur odit quam provident soluta alias omnis? Hic, facere!</p>

                <div class="grid">
                    <div class="col">
                        <div class="col-content">
                            <h3>{{ lista_de_milkshakes.0.getnome}}<br></h3>
                            <p> R$ {{lista_de_milkshakes.0.getpreco}}</p>
                            <div class="imagem-container">
                                <img src="{{ MEDIA_URL }}{{ lista_de_milkshakes.0.getimagem }}"
                                    alt="Descrição da Imagem" class="imagem-quadrada">
                            </div>
                            <form method="post">
                                {% csrf_token %}
                                <button type="submit" name="editar_item" value="{{ lista_de_milkshakes.0.getnome }}">
                                    Editar produto
                                </button>
                            </form>
                        </div>
                    </div>
                    <div class="col">
                        <div class="col-content">
                            <h3>{{ lista_de_milkshakes.1.getnome}}<br></h3>
                            <p> R$ {{lista_de_milkshakes.1.getpreco}}</p>
                            <div class="imagem-container">
                                <img src="{{ MEDIA_URL }}{{ lista_de_milkshakes.1.getimagem }}"
                                    alt="Descrição da Imagem" class="imagem-quadrada">
                            </div>
                            <form method="post">
                                {% csrf_token %}
                                <button type="submit" name="editar_item" value="{{ lista_de_milkshakes.1.getnome }}">
                                    Editar produto
                                </button>
                            </form>
                        </div>
                    </div>
                    <div class="col">
                        <div class="col-content">
                            <h3>{{ lista_de_milkshakes.2.getnome}}<br></h3>
                            <p> R$ {{lista_de_milkshakes.2.getpreco}}</p>
                            <div class="imagem-container">
                                <img src="{{ MEDIA_URL }}{{ lista_de_milkshakes.2.getimagem }}"
                                    alt="Descrição da Imagem" class="imagem-quadrada">
                            </div>
                            <form method="post">
                                {% csrf_token %}
                                <button type="submit" name="editar_item" value="{{ lista_de_milkshakes.2.getnome }}">
                                    Editar produto
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section id="Bebidas" class="full-page Bebidas">
            <!-- o ID será usado como target-->
            <div id="Bebidas-content" class="full-page-content">
                <h1>Bebidas</h1>
                <p class="descricao">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet ea libero corrupti,
                    architecto, rerum nam
                    modi
                    et facilis in veniam quisquam consectetur odit quam provident soluta alias omnis? Hic, facere!</p>

                <div class="grid">
                    <div class="col">
                        <div class="col-content">
                            <h3>{{ lista_de_bebidas.0.getnome}}<br></h3>
                            <p> R$ {{lista_de_bebidas.0.getpreco}}</p>
                            <div class="imagem-container">
                                <img src="{{ MEDIA_URL }}{{ lista_de_bebidas.0.getimagem }}" alt="Descrição da Imagem"
                                    class="imagem-quadrada">
                            </div>
                            <form method="post">
                                {% csrf_token %}
                                <button type="submit" name="editar_item" value="{{ lista_de_bebidas.0.getnome }}">
                                    Editar produto
                                </button>
                            </form>
                        </div>
                    </div>
                    <div class="col">
                        <div class="col-content">
                            <h3>{{ lista_de_bebidas.1.getnome}}<br></h3>
                            <p> R$ {{lista_de_bebidas.1.getpreco}}</p>
                            <div class="imagem-container">
                                <img src="{{ MEDIA_URL }}{{ lista_de_bebidas.1.getimagem }}" alt="Descrição da Imagem"
                                    class="imagem-quadrada">
                            </div>
                            <form method="post">
                                {% csrf_token %}
                                <button type="submit" name="editar_item" value="{{ lista_de_bebidas.1.getnome }}">
                                    Editar produto
                                </button>
                            </form>
                        </div>
                    </div>
                    <div class="col">
                        <div class="col-content">
                            <h3>{{ lista_de_bebidas.2.getnome}}<br></h3>
                            <p> R$ {{lista_de_bebidas.2.getpreco}}</p>
                            <div class="imagem-container">
                                <img src="{{ MEDIA_URL }}{{ lista_de_bebidas.2.getimagem }}" alt="Descrição da Imagem"
                                    class="imagem-quadrada">
                            </div>
                            <form method="post">
                                {% csrf_token %}
                                <button type="submit" name="editar_item" value="{{ lista_de_bebidas.2.getnome }}">
                                    Editar produto
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</body>

</html>


<!--
tem como fazer LINKS DE ÂNCORA, ELES NÃO APONTAM PARA OUTRA PÁGINA, MAS PARA A MESMA
de acordo com um ID
-->