{% load static %}


<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tela de Login</title>
    <!--<link rel="stylesheet" href="style.css">
    {% static -->
    <link rel="stylesheet" href="{% static 'assets/login.css' %}"> 
</head>
<body>
    <div class="login-container">
        <h1>Login</h1>

        {% comment %} {% if messages %}
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %} {% endcomment %}

        <form method="POST" action="{% url 'login_pedidos' %}">
            {% csrf_token %}

            <div class="input-group">
            <label for="usuario">Usuário</label>
            <input type="text" id="usuario" name="usuario" placeholder="Digite seu usuário" required>
            </div>

            <div class="input-group">
            <label for="senha">Senha</label>
            <input type="password" id="senha" name="senha" placeholder="Digite sua senha" required>
            </div>

            <button type="submit">Entrar</button>
        </form>
    </div>
    
</body>
</html>