{% load static %} <!-- CARREGA A TAG NO TOPO DO TEMPLATE adicionado dia 14 de setembro-->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!--<link rel="stylesheet" href="assets/css/stules.css">-->
    <!--<link rel="stylesheet" href="assets/css/style.css"> comentado dia 14 de setembro-->
    <link rel="stylesheet" href="{% static 'assets/Site/pedidos.css'%}">
    <!-- caminho relativo de static-->
</head>

<body>



    <div class="toda-pagina">
        {% comment %} <form method="POST" action="{% url 'processar_pedido' %}"><!-- 17 de setembro-->
            {% csrf_token %}
            <input type="hidden" name="pedido" value="pizza">
            <button type="submit">Fazer pedido</button>
        </form> <!-- 17 de setembro--> {% endcomment %}

        <h1>{% block texto %} {% endblock texto %}</h1>
        <!--  Essa linha de cima funcionou-->
        <nav class="menu">
            <ul>
                {% comment %} <li><a href="#home">Home</a></li> {% endcomment %}
                <li><a href="#Hamburguer">Sanduíches</a></li>
                <li><a href="#HotDogs">HotDogs</a></li>
                <li><a href="#Pizzas">Pizzas</a></li>
                <li><a href="#Milkshakes">Milkshakes</a></li>
                <li><a href="#Bebidas">Bebidas</a></li>
            </ul>

        </nav>
        <hr>
        <div class="separacao">
            <div class="problemas">
                    <h2> Problemas dos clientes </h2>

                    <div class="container-problemas">
        
                    {% for problema in problemas_reportados %}
                    <!-- INÍCIO DA CAIXINHA DE PROBLEMA -->
                    <div class="card-problema">
                    
                        <!-- Aqui usamos os ALIAS definidos no SELECT do Python -->
                        <h4>Mesa {{ problema.numero_mesa }}</h4>
                        <p>Pedido: <strong>{{ problema.nome_pedido }}</strong></p>
                    
                        <hr> 
                        
                        <p class="descricao-problema">
                            <!-- O TEXTO DO PROBLEMA -->
                            "{{ problema.descricao }}"
                        </p>
                    </div>
                    <!-- FIM DA CAIXINHA DE PROBLEMA -->
                
                    {% empty %}
                    <!-- Mensagem se a lista estiver vazia -->
                    <p> Nenhum problema ativo reportado no momento.</p>
                    {% endfor %}

                </div>

            </div>
            <div class="carrinho">
                <hr class="my-5">
                <h2 class="text-center mb-4 text-white">Pedidos em aberto</h2>

                {% for pedido in pedidos_realizados %}
                <div class="card mb-4 shadow-sm">

                    <div
                        class="card-header bg-warning text-dark fw-bold d-flex justify-content-between align-items-center">

                        <!--<span>
                            Mesa {{ pedido.mesa }} - Total: <span class="text-success">R$ {{ pedido.total|floatformat:2
                                }}
                        </span> -->
                        <span>
                            Mesa {{pedido.mesa}}
                        </span>

                        <p class="nome-pedido">{{ pedido.pedido }}</p>

                        {% if pedido.nota %}
                            <p class="nota-pedido"> Nota : {{ pedido.nota }}</p>
                        {% endif %}

                        <p>
                        <tr>
                            <td>
                                <span class="status-badge {{ pedido.classe_css }}"> 
                                    {{ pedido.status }}
                                </span>
                            </td>
                            
                            </tr>
                        </p>

                        <div class="btn-group" role="group" aria-label="Ações do Pedido">

                            <form method="post" action="#" style="display:inline;"
                                onsubmit="return confirm('Tem certeza que deseja remover este pedido?');">
                                {% csrf_token %}
                                <input type="hidden" name="remover_item_por_posicao" value="{{ forloop.counter0 }}">

                                <button type="submit" name="remover_item_por_posicao" class="btn btn-sm btn-outline-danger me-2 " title="Remover Pedido">
                                    <i class="bi bi-trash"></i> Remover
                                </button>
                            </form>

                            <form method="post" style="display:inline;">
                                {% csrf_token %}
                                <input type="hidden" name="atualizar_status" value="{{ pedido.id }}, {{pedido.status}}">
                                <button type="submit" class="btn btn-sm btn-outline-primary">
                                    <i class="bi bi-arrow-clockwise"></i> Avançar Status
                                </button>
                            </form>
                        </div>
                    </div>

                    <ul class="list-group list-group-flush">
                        {% for item in pedido.itens %}
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            <div>
                                <strong>{{ item.nome }}</strong>
                                {% if item.nota %}
                                <small class="text-muted ms-2 text-primary">({{ item.nota }})</small>
                                {% endif %}
                            </div>
                            <span class="badge bg-light text-dark">R$ {{ item.preco|floatformat:2 }}</span>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
                {% endfor %}
            </div>
        </div>
        <section id="Hamburguer" class="full-page Hamburguer">
            <!-- o ID será usado como target-->
            <div id="Hamburguer-content" class="grid full-page-content">
                <h1>Sanduíches</h1>
                <p class="descricao"></p>

                <div class="grid">
                    <div class="col">
                        <div class="col-content">
                            <h3>{{ lista_de_sanduiches.0.getnome}}<br></h3>
                            <p> R$ {{lista_de_sanduiches.0.getpreco}}</p>
                            <div class="imagem-container">
                                <img src="{{ MEDIA_URL }}{{ lista_de_sanduiches.0.getimagem }}"
                                    alt="Descrição da Imagem" class="imagem-quadrada">
                            </div>
                            <!-- <form method="post"> 
                                {% csrf_token %}
                                <button type="submit" name="editar_item" value="{{ lista_de_sanduiches.0.getnome }}">
                                    Editar produto
                                </button>
                            </form> -->

                            <button type="button" 
                                class="btn-editar-produto" 
                                data-product-name="{{ lista_de_sanduiches.0.getnome }}"
                                data-product-price="{{ lista_de_sanduiches.0.getpreco }}"
                                data-product-pao="{{ lista_de_sanduiches.0.get}}">
                                Editar produto
                            </button>
                        </div>
                    </div>
                    <div class="col">
                        <div class="col-content">
                            <h3>{{ lista_de_sanduiches.1.getnome}}<br></h3>
                            <p> R$ {{lista_de_sanduiches.1.getpreco}}</p>
                            <div class="imagem-container">
                                <img src="{{ MEDIA_URL }}{{ lista_de_sanduiches.1.getimagem }}"
                                    alt="Descrição da Imagem" class="imagem-quadrada">
                            </div>
                            <button type="button" 
                                class="btn-editar-produto" 
                                data-product-name="{{ lista_de_sanduiches.1.getnome }}"
                                data-product-price="{{ lista_de_sanduiches.1.getpreco }}">
                                Editar produto
                            </button>
                        </div>
                    </div>
                    <div class="col">
                        <div class="col-content">
                            <h3>{{ lista_de_sanduiches.2.getnome}}<br></h3>
                            <p> R$ {{lista_de_sanduiches.2.getpreco}}</p>
                            <div class="imagem-container">
                                <img src="{{ MEDIA_URL }}{{ lista_de_sanduiches.2.getimagem }}"
                                    alt="Descrição da Imagem" class="imagem-quadrada">
                            </div>
                            <button type="button" 
                                class="btn-editar-produto" 
                                data-product-name="{{ lista_de_sanduiches.2.getnome }}"
                                data-product-price="{{ lista_de_sanduiches.2.getpreco }}">
                                Editar produto
                            </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section id="HotDogs" class="full-page Hotdogs">
            <!-- o ID será usado como target-->
            <div id="HotDog-content" class="full-page-content">
                <h1>HotDogs</h1>
                <p class="descricao"></p>

                <div class="grid">
                    <div class="col">
                        <div class="col-content">
                            <h3>{{ lista_de_hotdogs.0.getnome}}<br></h3>
                            <p> R$ {{lista_de_hotdogs.0.getpreco}}</p>
                            <div class="imagem-container">
                                <img src="{{ MEDIA_URL }}{{ lista_de_hotdogs.0.getimagem }}" alt="Descrição da Imagem"
                                    class="imagem-quadrada">
                            </div>
                            <button type="button" 
                                class="btn-editar-produto" 
                                data-product-name="{{ lista_de_hotdogs.0.getnome }}"
                                data-product-price="{{ lista_de_hotdogs.0.getpreco }}">
                                Editar produto
                            </button>
                        </div>
                    </div>
                    <div class="col">
                        <div class="col-content">
                            <h3>{{ lista_de_hotdogs.1.getnome}}<br></h3>
                            <p> R$ {{lista_de_hotdogs.1.getpreco}}</p>
                            <div class="imagem-container">
                                <img src="{{ MEDIA_URL }}{{ lista_de_hotdogs.1.getimagem }}" alt="Descrição da Imagem"
                                    class="imagem-quadrada">
                            </div>
                            <button type="button" 
                                class="btn-editar-produto" 
                                data-product-name="{{ lista_de_hotdogs.1.getnome }}"
                                data-product-price="{{ lista_de_hotdogs.1.getpreco }}">
                                Editar produto
                            </button>
                        </div>
                    </div>
                    <div class="col">
                        <div class="col-content">
                            <h3>{{ lista_de_hotdogs.2.getnome}}<br></h3>
                            <p> R$ {{lista_de_hotdogs.2.getpreco}}</p>
                            <div class="imagem-container">
                                <img src="{{ MEDIA_URL }}{{ lista_de_hotdogs.2.getimagem }}" alt="Descrição da Imagem"
                                    class="imagem-quadrada">
                            </div>
                            <button type="button" 
                                class="btn-editar-produto" 
                                data-product-name="{{ lista_de_hotdogs.2.getnome }}"
                                data-product-price="{{ lista_de_hotdogs.2.getpreco }}">
                                Editar produto
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section id="Pizzas" class="full-page Pizzas">
            <!-- o ID será usado como target-->
            <div id="Pizza-content" class="full-page-content grid">
                <h1>Pizzas</h1>
                <p class="descricao"></p>

                <!-- <div class="grid">-->
                <div class="col">
                    <div class="col-content">
                        <h3>{{ lista_de_pizzas.0.getnome}}<br></h3>
                        <p> R$ {{lista_de_pizzas.0.getpreco}}</p>
                        <div class="imagem-container">
                            <img src="{{ MEDIA_URL }}{{ lista_de_pizzas.0.getimagem }}" alt="Descrição da Imagem"
                                class="imagem-quadrada">
                        </div>
                            <button type="button" 
                                class="btn-editar-produto" 
                                data-product-name="{{ lista_de_pizzas.0.getnome }}"
                                data-product-price="{{ lista_de_pizzas.0.getpreco }}">
                                Editar produto
                            </button>
                    </div>
                </div>
                <div class="col">
                    <div class="col-content">
                        <h3>{{ lista_de_pizzas.1.getnome}}<br></h3>
                        <p> R$ {{lista_de_pizzas.1.getpreco}}</p>
                        <div class="imagem-container">
                            <img src="{{ MEDIA_URL }}{{ lista_de_pizzas.1.getimagem }}" alt="Descrição da Imagem"
                                class="imagem-quadrada">
                        </div>
                            <button type="button" 
                                class="btn-editar-produto" 
                                data-product-name="{{ lista_de_pizzas.1.getnome }}"
                                data-product-price="{{ lista_de_pizzas.1.getpreco }}">
                                Editar produto
                            </button>
                    </div>
                </div>
                <div class="col">
                    <div class="col-content">
                        <h3>{{ lista_de_pizzas.2.getnome}}<br></h3>
                        <p> R$ {{lista_de_pizzas.2.getpreco}}</p>
                        <div class="imagem-container">
                            <img src="{{ MEDIA_URL }}{{ lista_de_pizzas.2.getimagem }}" alt="Descrição da Imagem"
                                class="imagem-quadrada">
                        </div>
                            <button type="button" 
                                class="btn-editar-produto" 
                                data-product-name="{{ lista_de_pizzas.2.getnome }}"
                                data-product-price="{{ lista_de_pizzas.2.getpreco }}">
                                Editar produto
                            </button>
                    </div>
                </div>
            </div>
            <!--</div>-->
        </section>
        <section id="Milkshakes" class="full-page Milkshakes">
            <!-- o ID será usado como target-->
            <div id="Milkshake-content" class="full-page-content">
                <h1>Milkshakes</h1>
                <p class="descricao"></p>

                <div class="grid">
                    <div class="col">
                        <div class="col-content">
                            <h3>{{ lista_de_milkshakes.0.getnome}}<br></h3>
                            <p>{{ lista_de_milkshakes.0.getcapacidade}}</p>
                            <p> R$ {{lista_de_milkshakes.0.getpreco}}</p>
                            <div class="imagem-container">
                                <img src="{{ MEDIA_URL }}{{ lista_de_milkshakes.0.getimagem }}"
                                    alt="Descrição da Imagem" class="imagem-quadrada">
                            </div>
                            <button type="button" 
                                class="btn-editar-produto" 
                                data-product-name="{{ lista_de_milkshakes.0.getnome }}"
                                data-product-price="{{ lista_de_milkshakes.0.getpreco }}">
                                Editar produto
                            </button>
                        </div>
                    </div>
                    <div class="col">
                        <div class="col-content">
                            <h3>{{ lista_de_milkshakes.1.getnome}}<br></h3>
                            <p>{{ lista_de_milkshakes.1.getcapacidade}}</p>
                            <p> R$ {{lista_de_milkshakes.1.getpreco}}</p>
                            <div class="imagem-container">
                                <img src="{{ MEDIA_URL }}{{ lista_de_milkshakes.1.getimagem }}"
                                    alt="Descrição da Imagem" class="imagem-quadrada">
                            </div>
                            <button type="button" 
                                class="btn-editar-produto" 
                                data-product-name="{{ lista_de_milkshakes.1.getnome }}"
                                data-product-price="{{ lista_de_milkshakes.1.getpreco }}">
                                Editar produto
                            </button>
                        </div>
                    </div>
                    <div class="col">
                        <div class="col-content">
                            <h3>{{ lista_de_milkshakes.2.getnome}}<br></h3>
                            <p>{{ lista_de_milkshakes.2.getcapacidade}}</p>
                            <p> R$ {{lista_de_milkshakes.2.getpreco}}</p>
                            <div class="imagem-container">
                                <img src="{{ MEDIA_URL }}{{ lista_de_milkshakes.2.getimagem }}"
                                    alt="Descrição da Imagem" class="imagem-quadrada">
                            </div>
                            <button type="button" 
                                class="btn-editar-produto" 
                                data-product-name="{{ lista_de_milkshakes.2.getnome }}"
                                data-product-price="{{ lista_de_milkshakes.2.getpreco }}">
                                Editar produto
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section id="Bebidas" class="full-page Bebidas">
            <!-- o ID será usado como target-->
            <div id="Bebidas-content" class="full-page-content">
                <h1>Bebidas</h1>
                <p class="descricao"></p>

                <div class="grid">
                    <div class="col">
                        <div class="col-content">
                            <h3>{{ lista_de_bebidas.0.getnome}}<br></h3>
                            <p> {{lista_de_bebidas.0.getcapacidade}}</p>
                            <p> R$ {{lista_de_bebidas.0.getpreco}}</p>
                            <div class="imagem-container">
                                <img src="{{ MEDIA_URL }}{{ lista_de_bebidas.0.getimagem }}" alt="Descrição da Imagem"
                                    class="imagem-quadrada">
                            </div>
                            <button type="button" 
                                class="btn-editar-produto" 
                                data-product-name="{{ lista_de_bebidas.0.getnome }}"
                                data-product-price="{{ lista_de_bebidas.0.getpreco }}">
                                Editar produto
                            </button>
                        </div>
                    </div>
                    <div class="col">
                        <div class="col-content">
                            <h3>{{ lista_de_bebidas.1.getnome}}<br></h3>
                            <p> {{lista_de_bebidas.1.getcapacidade}}</p>
                            <p> R$ {{lista_de_bebidas.1.getpreco}}</p>
                            <div class="imagem-container">
                                <img src="{{ MEDIA_URL }}{{ lista_de_bebidas.1.getimagem }}" alt="Descrição da Imagem"
                                    class="imagem-quadrada">
                            </div>
                            <button type="button" 
                                class="btn-editar-produto" 
                                data-product-name="{{ lista_de_bebidas.1.getnome }}"
                                data-product-price="{{ lista_de_bebidas.1.getpreco }}">
                                Editar produto
                            </button>
                        </div>
                    </div>
                    <div class="col">
                        <div class="col-content">
                            <h3>{{ lista_de_bebidas.2.getnome}}<br></h3>
                            <p> {{lista_de_bebidas.2.getcapacidade}}</p>
                            <p> R$ {{lista_de_bebidas.2.getpreco}}</p>
                            <div class="imagem-container">
                                <img src="{{ MEDIA_URL }}{{ lista_de_bebidas.2.getimagem }}" alt="Descrição da Imagem"
                                    class="imagem-quadrada">
                            </div>
                            <button type="button" 
                                class="btn-editar-produto" 
                                data-product-name="{{ lista_de_bebidas.2.getnome }}"
                                data-product-price="{{ lista_de_bebidas.2.getpreco }}">
                                Editar produto
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>

<!-- parte do editar produto -->
<div id="editProductModal" class="modal">
    <div class="modal-content">
        <span class="close-button">&times;</span>
        <h2>Editar Produto</h2>
        <form method="post" id="editProductForm">
            {% csrf_token %}
            <input type="hidden" name="acao" value="editar_produto_modal">
            <input type="hidden" name="original_product_name" id="modalOriginalProductName">

            <label for="modalProductName">Nome do Produto:</label>
            <input type="text" id="modalProductName" name="new_product_name" required>
            <br>
            <label for="modalProductPrice">Preço (R$):</label>
            <input type="number" step="0.01" id="modalProductPrice" name="new_product_price" required>
            <br>
            
            <button type="submit">Salvar Edição</button>
        </form>
    </div>
</div>

<script>
    // Obter os elementos principais
    var modal = document.getElementById("editProductModal");
    var btns = document.querySelectorAll(".btn-editar-produto"); // Todos os botões de edição
    var span = document.getElementsByClassName("close-button")[0]; // O 'x' para fechar

    // Obter os campos do formulário dentro do modal
    var modalProductNameInput = document.getElementById("modalProductName");
    var modalProductPriceInput = document.getElementById("modalProductPrice");
    var modalOriginalProductNameInput = document.getElementById("modalOriginalProductName");

    // Lógica para abrir o modal
    btns.forEach(function(btn) {
        btn.onclick = function() {
            // Pega os dados armazenados no atributo 'data-' do botão clicado
            var productName = this.getAttribute("data-product-name");
            var productPrice = parseFloat(this.getAttribute("data-product-price"));


            if (productName.endsWith(',')) {
                productName = productName.slice(0, -1); // Remove o último caractere que é uma vírgula
            }

            // Preenche o formulário do modal com os dados do produto
            modalProductNameInput.value = productName;
            modalProductPriceInput.value = productPrice.toFixed(2);
            modalOriginalProductNameInput.value = productName; // Nome original para o backend

            modal.style.display = "flex"; // Usa 'flex' para exibir e centralizar
        }
    });

    // Lógica para fechar o modal
    // Quando o usuário clica em <span> (x)
    span.onclick = function() {
        modal.style.display = "none";
    }

    // Quando o usuário clica em qualquer lugar fora do modal
    window.onclick = function(event) {
        if (event.target == modal) {
            modal.style.display = "none";
        }
    }

</script>

</body>

</html>


<!--
tem como fazer LINKS DE ÂNCORA, ELES NÃO APONTAM PARA OUTRA PÁGINA, MAS PARA A MESMA
de acordo com um ID
-->